//General styling whole app

//Font-style
$font-stack: Lucida Sans, sans-serif;

//Colors
$bg-color: #000000;
$font-color: #ffffff;

//Font-sizes
$fontsize-root: 1.4em;
$fontsize-h1: 8rem;
$fontsize-h2: 6rem;
$fontsize-p: 3rem;
$fontsize-nav: 2rem;