@use 'sass:color';

//Font-style
$font-stack: Lucida Sans, sans-serif;

//Colors
$bg-color: #0D0D0D;
$main-color: #414141;
$font-color: #FFFFFF;
$heading-color: #00FF85;
$accent-color: #1E90FF;
$hover-color: #FF0099;

//Font-sizes
$fontsize-root: 1.4em;
$fontsize-h1: 8rem;
$fontsize-h2: 6rem;
$fontsize-p: 3rem;
$fontsize-nav: 2rem;

@mixin button {
    min-width: 75px;
    padding: 1em;
    background-color: $accent-color;
    border-radius: 5px;
    margin-right: 1em;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    border: none;
}